{% extends 'base.html' %}
{% block content %}
<h2>Composition {{ composition.titre }}</h2>

<table class="table table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Nom</th><th>Prénom</th><th>Statut</th><th>Raison sociale</th>
      <th>Ministère</th><th>Module</th><th>Volume</th><th>Semestre</th>
      <th>H. Enseignement</th><th>H. GRETA</th><th>H. Service</th>
    </tr>
  </thead>
  <tbody>
    {% for d in details %}
    <tr>
      <td>{{ d.enseignant_nom }}</td>
      <td>{{ d.enseignant_prenom }}</td>
      <td>{{ d.statut }}</td>
      <td>{{ d.raison_sociale }}</td>
      <td>{{ d.ministere_collectivite }}</td>
      <td>{{ d.intitule_matiere }}</td>
      <td>{{ d.volume_horaire }}</td>
      <td>{{ d.semestre }}</td>
      <td>{{ d.heures_enseignement }}</td>
      <td>{{ d.heures_greta }}</td>
      <td>{{ d.heures_service }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{% url 'composition_detail_create' composition.id %}" class="btn btn-success">Ajouter une ligne</a>
{% endblock %}
