{% extends 'base.html' %}
{% block content %}

<h1>Rapport des classes</h1>

<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>ID Classe</th>
            <th>Nom</th>
            <th>Programme</th>
            <th>Niveau</th>
            <th>Début</th>
            <th>Fin</th>
            <th>Archive</th>
        </tr>
    </thead>
    <tbody>
        {% for c in classes %}
        <tr>
            <td>{{ c.idClass }}</td>
            <td>{{ c.ClassName }}</td>
            <td>{{ c.Curriculum }}</td>
            <td>{{ c.idLevel }}</td>
            <td>{{ c.StartYear }}</td>
            <td>{{ c.EndYear }}</td>
            <td>{{ c.Archive }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'rapport_classes_pdf' %}" class="btn btn-danger">
    Télécharger PDF
</a>

{% endblock %}
