{% extends 'base.html' %}
{% block content %}

<h1>Rapport des étudiants</h1>

<form method="GET" class="row g-3 mb-4">

    <div class="col-md-3">
        <input type="text" name="ine" class="form-control"
               placeholder="INE"
               value="{{ ine_filter }}">
    </div>

    <div class="col-md-3">
        <select name="sexe" class="form-select">
            <option value="">Sexe</option>
            <option value="M" {% if sexe_filter == "M" %}selected{% endif %}>Homme</option>
            <option value="F" {% if sexe_filter == "F" %}selected{% endif %}>Femme</option>
        </select>
    </div>

    <div class="col-md-3">
        <button class="btn btn-primary w-100">Filtrer</button>
    </div>

</form>

<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>INE</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Sexe</th>
            <th>Email Univ.</th>
            <th>Téléphone</th>
            <th>Date de naissance</th>
        </tr>
    </thead>
    <tbody>
        {% for e in etudiants %}
        <tr>
            <td>{{ e.INE }}</td>
            <td>{{ e.Lname }}</td>
            <td>{{ e.Fname }}</td>
            <td>{{ e.Sexe }}</td>
            <td>{{ e.univ_email }}</td>
            <td>{{ e.PhoneNumber }}</td>
            <td>{{ e.Birthdate }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'rapport_etudiants_pdf' %}?ine={{ ine_filter }}&sexe={{ sexe_filter }}"
   class="btn btn-danger">
    Télécharger PDF
</a>


{% endblock %}
